# SPDX-License-Identifier: GPL-2.0-only OR GPL-3.0-only OR LicenseRef-KDE-Accepted-GPL
# SPDX-FileCopyrightText: 2025 Thomas Duckworth <tduck@filotimoproject.org>

[Unit]
Description=Create/remove flatpak shims when one is installed/uninstalled

[Service]
Type=oneshot
ExecStart=/usr/bin/_kde-linux-create-flatpak-shims
