# SPDX-License-Identifier: BSD-2-Clause
# SPDX-FileCopyrightText: None

include:
  - project: sysadmin/ci-utilities
    file:
      - /gitlab-templates/reuse-lint.yml
      - /gitlab-templates/blocks/workflow.yml

stages:
  - validate
  - start

imaging:
  stage: start
  tags:
    - VM
    - amd64
  rules:
    - if: $CI_MERGE_REQUEST_DRAFT == "true"
      when: manual
    - if: $CI_COMMIT_BRANCH =~ /^work\//
      when: manual
    - if: $CI_COMMIT_REF_PROTECTED != 'true' || $CI_DEFAULT_BRANCH != $CI_COMMIT_REF_NAME || $CI_PROJECT_PATH != 'kde-linux/kde-linux'
      when: always
  allow_failure: false
  image: storage.kde.org/vm-images/kde-linux-builder
  id_tokens: &tokens
    MINIO_OIDC:
      aud: https://tokens.kde.org
  variables: &variables
    RUNNER_AFTER_SCRIPT_TIMEOUT: 1h
  script:
    - sudo ./build.sh --force --debug # bootstap.sh happens as part of CI image build
  after_script:
    - ./upload-to-storage.sh || true
  artifacts: &artifacts
    expire_in: 4 weeks
    when: always
    paths:
      - "**/erofs.log"

imaging+publish:
  stage: start
  tags:
    - VM
    - amd64
  rules:
    # NOTE: these are different from the regular imaging job!
    - if: $CI_COMMIT_REF_PROTECTED == 'true' && $CI_DEFAULT_BRANCH == $CI_COMMIT_REF_NAME && $CI_PROJECT_PATH == 'kde-linux/kde-linux'
      when: always
  allow_failure: false
  image: storage.kde.org/vm-images/kde-linux-builder
  id_tokens: *tokens
  variables: *variables
  script:
    - sudo pacman --sync --refresh --noconfirm curl which git
    - curl -s https://gitlab.com/gitlab-org/incubation-engineering/mobile-devops/download-secure-files/-/raw/main/installer | bash
    - sudo ./build.sh --force --debug # bootstap.sh happens as part of CI image build
    - ./upload.sh
  after_script:
    # Upload broken images to Harald for inspection
    - "[ $CI_JOB_STATUS == 'success' ] || ./upload-to-storage.sh || true"
  artifacts: *artifacts
