# SPDX-License-Identifier: GPL-2.0-only OR GPL-3.0-only OR LicenseRef-KDE-Accepted-GPL
# SPDX-FileCopyrightText: 2023 Harald Sitter <sitter@kde.org>

[Unit]
Description=Configuring Root Filesystem
# live has an overlayed /, don't try to fiddle with it
ConditionKernelCommandLine=!kde-linux.live=1
ConditionPathIsReadWrite=/etc
After=local-fs.target

[Service]
Type=oneshot
RemainAfterExit=yes
# The one time switch off simple quotas outlives DefaultTimeoutStartSec.
TimeoutStartSec=300
ExecStart=/usr/lib/btrfs-quota-setup

[Install]
WantedBy=multi-user.target
