# SPDX-License-Identifier: LGPL-2.1-or-later
# SPDX-FileCopyrightText: 2025 Muhammad Usama Anjum <usama.anjum@collabora.com>
# SPDX-FileCopyrightText: 2025 Thomas Duckworth <tduck@filotimoproject.org>

[Unit]
Description=Clean Up Temporary Hibernation Swap
DefaultDependencies=no
RequiresMountsFor=/home
After=systemd-hibernate-clear.service
Wants=systemd-hibernate-clear.service

AssertPathExists=/home/hibernation.swapfile

[Service]
Type=oneshot
ExecStart=/usr/bin/_kde-linux-hibernate-swap-helper cleanup

[Install]
WantedBy=systemd-hibernate-clear.service
