# SPDX-License-Identifier: GPL-2.0-only OR GPL-3.0-only OR LicenseRef-KDE-Accepted-GPL
# SPDX-FileCopyrightText: 2026 Nate Graham <nate@kde.org>

[Unit]
Description=Apply to a running system any changes made in the Flatpak preinstall spec
ConditionPathExists=/var/lib/kde-linux/preinstalled-flatpak-history.yaml
ConditionKernelCommandLine=!kde-linux.live=1
Wants=network-online.target
After=network-online.target

[Service]
Type=oneshot
ExecStart=/usr/lib/install-flatpaks-from-spec --spec-path /usr/share/kde-linux/preinstalled-flatpak-spec.yaml --history-path /var/lib/kde-linux/preinstalled-flatpak-history.yaml
