# SPDX-License-Identifier: GPL-2.0-only OR GPL-3.0-only OR LicenseRef-KDE-Accepted-GPL
# SPDX-FileCopyrightText: 2026 Thomas Duckworth <tduck@filotimoproject.org>

# This runs the bootstrapping executable that's included in the OpenQA sysext image.

[Unit]
Description=Bootstrap OpenQA Testing Environment
ConditionVirtualization=vm
ConditionPathIsMountPoint=/run/extensions/openqa

After=systemd-sysext.service
After=local-fs.target network-online.target
Before=display-manager.service
Wants=network-online.target

[Service]
Type=oneshot
ExecStart=/usr/lib/openqa-bootstrap
RemainAfterExit=yes
TimeoutStartSec=300

[Install]
WantedBy=multi-user.target
