# SPDX-License-Identifier: GPL-2.0-only OR GPL-3.0-only OR LicenseRef-KDE-Accepted-GPL
# SPDX-FileCopyrightText: 2025 Hadi Chokr <hadichokr@icloud.com>

[Unit]
Description=Bind mount /opt/local over /usr/local
Before=local-fs.target

[Mount]
What=/opt/local
Where=/usr/local
Type=none
Options=bind

[Install]
WantedBy=local-fs.target