# SPDX-License-Identifier: GPL-3.0-only OR LicenseRef-KDE-Accepted-GPL
# SPDX-FileCopyrightText: 2026 Nate Graham <nate@kde.org>

[Desktop Entry]
Categories=Qt;KDE;Documentation;
Comment=Learn how to do things in KDE Linux
Comment[ar]=تعرف على كيف تقوم بالأشياء في كيدي لينكس
Comment[ca]=Apreneu com fer coses al KDE Linux
Comment[es]=Aprender a hacer cosas en KDE Linux
Comment[eu]=KDE Linuxen gauzak nola egin ikasi
Comment[ka]=ისწავლეთ, როგორ გააკეთოთ საქმეები KDE Linux-ში
Comment[nl]=Leer hoe je dingen doet in KDE Linux
Comment[sl]=Naučite se, kako početi stvari v KDE Linuxu
Comment[tr]=KDE Linux’ta neleri nasıl yapacağınızı öğrenin
Comment[uk]=Дізнайтеся про те, як працювати у KDE Linux
Exec=xdg-open https://linux.kde.org/docs/
GenericName=Documentation
GenericName[ar]=التّوثيق
GenericName[ca]=Documentació
GenericName[es]=Documentación
GenericName[eu]=Dokumentazioa
GenericName[ka]=დოკუმენტაცია
GenericName[nl]=Documentatie
GenericName[sl]=Dokumentacija
GenericName[tr]=Belgelendirme
GenericName[uk]=Документація
Icon=accessories-dictionary
Name=Documentation
Name[ar]=التّوثيق
Name[ca]=Documentació
Name[es]=Documentación
Name[eu]=Dokumentazioa
Name[ka]=დოკუმენტაცია
Name[nl]=Documentatie
Name[sl]=Dokumentacija
Name[tr]=Belgelendirme
Name[uk]=Документація
Type=Application
